<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
<style>
    img {
        width: 200px;
        height: 180px;
        padding: 2vw;
    }

    input[type=radio] {
        display: none;
    }

    img:hover {
        opacity: 0.6;
        cursor: pointer;
    }

    img:active {
        opacity: 0.4;
        cursor: pointer;
    }

    input[type=radio]:checked+label>img {
        border: 10px solid rgb(228, 207, 94);
    }

    table,
    th,
    td {
        text-align: center;
        border: 1px solid black;
        border-collapse: collapse;
        width: 500px;
        height: 50px;

    }
    table{
        margin-left: 50px;
    }
    button.btn.btn-primary {
        float: right;

    margin-right: 47px;
}
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mua thẻ điện thoại</title>
</head>

<body>
    <h1>Mua thẻ điện thoại</h1>
    <% if (locals.errorMessage) { %>
        <div class="alert alert-danger" id="alert">
          <%= errorMessage %>
        </div>
        <% } %>
    <form action="/buy-card" method="post">
        <div>
            <input type="radio" name="card" id="vietel" value="vietel"  />
            <label for="vietel">
                <img src="/img/vietel.png" />
            </label>

            <input type="radio" name="card" id="mobi" value="mobiphone"  />
            <label for="mobi">
                <img src="/img/mobi.png" />
            </label>
            <input type="radio" name="card" id="vina" value="vinaphone" />
            <label for="vina">
                <img src="/img/vina.png" />
            </label>
        </div>
        <table>
            <thead>
                <tr>

                    <th>Mệnh giá</th>
                    <th>Phí dịch vụ</th>
                    <th>Số lượng</th>
                    

                </tr>
            </thead>
            <tbody>
                <tr>
                   
                    <td>10 000VND</td>
                    <td>0 VND</td>
                    <td>
                        <input type="number" name="ten" id="ten" >
                    </td>
                </tr>
                <tr>

                    <td>20 000VND</td>
                    <td>0 VND</td>
                    <td>
                        <input type="number" name="twenty" id="twenty">

                    </td>
                </tr>
                <tr>

                    <td>50 000VND</td>
                    <td>0 VND</td>
                    <td>
                        <input type="number" name="fity" id="fity">

                    </td>
                </tr>
                <tr>

                    <td>100 000VND</td>
                    <td>0 VND</td>
                    <td>
                        <input type="number" name="onehun" id="onehun">

                    </td>
                </tr>
                <tr>
                 
                    <td colspan="3">
                        <button type="submit" class="btn btn-primary">Xác nhận</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </form>


</body>
<script>
    $('#ten').keypress(function(evt) {
  if (evt.which === 48) {
    return false;
  }
});
$('#twenty').keypress(function(evt) {
  if (evt.which === 48) {
    return false;
  }
});
$('#fity').keypress(function(evt) {
  if (evt.which === 48) {
    return false;
  }
});
$('#onehun').keypress(function(evt) {
  if (evt.which === 48) {
    return false;
  }
});

   if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    setTimeout(function() {
    $('#alert').fadeOut('fast');
}, 1000); 
</script>
</html>