<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main">
      <h1>Change Password</h1>
      <% if (messages) { %>
      <p><%= messages.error %></p>
      <% } %>
      <form action="" method="POST">
        <div class="row">
            <label for="password">New Password</label> 
            <input
          type="password"
          name="pass"
        />
        </div>
        <div class="row">
            <label for="email">Confirm Password</label> 
            <input
          type="password"
          name="cfmpass"
        />
        </div>
      
        <button>Change Pass </button>
      </form>
     
    </div>
  </body>
</html>