@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;400;500;600;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Calibri', sans-serif !important
}

.mt-100 {
    margin-top: 70px
}

.card {
    margin-bottom: 30px;
    border: 0px;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08)
}
.card-body {
  background-color: white;
}
.card .card-body {
    padding: 1.88rem 1.81rem
}

.table thead th {
    border-bottom: none;
    border-top: none;
    vertical-align: middle
}

.table th,
.table td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

.progress {
    margin-top: 6px
}
body {
  background-color: #6a5acd;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Encode Sans SC", sans-serif;
}
span.media.align-items-center {
  width: 158px;
  color: yellow;
  margin-bottom: 19px;
  /* margin-right: 47px; */
}

.main {
  width: 500px;
  max-width: 90%;
  text-align: center;
  background-color: white;
  padding: 25px 20px;
  border-radius: 10px;
}

.main > h1 {
  font-size: 30px;
  color: rgb(26, 25, 25);
  margin: 0 0 30px 0;
}

.main >div > input {
  width: 95%;
  padding: 15px;
  background-color: #ccc;
  color: gray;
  border: 0;
  margin: 10px 5px;
  border-radius: 8px;
}

.main > form>div > input {
  width: 95%;
  padding: 15px;
  background-color: #ccc;
  color: gray;
  border: 0;
  margin: 10px 5px;
  border-radius: 8px;
}

.main > form > button {
  background-color: #6a5acd;
  padding: 15px;
  width: 95%;
  border: none;
  color: white;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.main  > button {
  background-color: #6a5acd;
  padding: 15px;
  width: 95%;
  border: none;
  color: white;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.main > form > input:focus,
.main > form > button:focus {
  outline: none;
}


.main  > input:focus,
.main  > button:focus {
  outline: none;
}